// @media (max-width: 1280px) {
//     .premimum {
//         background-size: 100% 100%;
//     }
// }
@media (max-width: 375px) {
    .container {
        width: 315px;
    }
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        gap: 20px;
    }
    .btn {
        &--shop {
            width: 75px;
            border-radius: 11.45px;
            svg {
                width: 35px;
                height: 35px;
            }
        }
        &--confirm {
            border-radius: 11.45px;
            font-weight: 600;
            font-size: 14.4px;
            line-height: 22px;
            letter-spacing: 3%;
            width: 309.5px;
        }
        &--send {
            border-radius: 11.45px;
            width: 100%;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 3%;    
        }
        &--apply {
            width: 75px;
            border-radius: 11.45px;
            line-height: 1.5;
            width: 100%;
            margin-top: 39px;
            font-weight: 600;
            font-size: 11.5px;
            line-height: 17px;
            letter-spacing: -1%;
        }
    
        &--apply-coupon {
            width: 74px;
            border-radius: 11.45px;
            font-weight: 500;
            font-size: 10.8px;
            line-height: 13px;
            letter-spacing: -2%;
        }
        &--payment {
            border-radius: 11.45px;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -1%;        
            width: 100%;
            margin-top: 39px;
           }
        &--get-started {
            font-weight: 500;
            width: 125px;
            border-radius: 9.9px;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 1%;
        }
        &--Go-pro {
            font-weight: 500;
            border-radius: 9.9px;
            width: 78px;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: 1%;
        }
        &--download {
            display: flex;
            font-weight: 500;
            width: 133px;
            border-radius: 9.9px;
            font-size: 12px;
            line-height: 15px;
            span {
                margin-left: 15px;
                margin-top: 10px;
            }            
        }
        &--subscribe {
            font-size: 15px;
            font-weight: 500;
            width: 94px;
            border-radius: 9.9px;
            font-size: 9.6px;
            line-height: 14px;
            letter-spacing: 3%;    
        }
        &--next-article {
            display: flex;
            font-weight: 600;
            font-size: 11.5px;
            line-height: 14px;
            width: 174.5px;
            border-radius: 9.9px;
            span {
                margin-left: 15px;
                margin-top: 10px;
            }        
        }        
    }

}

@media (max-width: 1024px) {
    .container {
        width: 890px;
    }
    .btn {
        height: 42px;
        font-size: 13px;
        &--shop {
            width: 60px;
            padding: 5px 5px;
            border-radius: 12.6px;
            svg {
                width: 25px;
                height: 25px;
            }
        }
        &--confirm {
            border-radius: 12.6px;
            font-weight: 600;
            font-size: 12.6px;
            line-height: 19px;
            width: 272px;
            height: 53px;
        }
        &--send {
            border-radius: 12.6px;
            width: 100%;
            height: 54px;
            font-weight: 500;
            font-size: 14.8px;
            line-height: 22px;
        }
        &--apply {
            width: 75px;
            border-radius: 12.6px;
            width: 100%;
            font-size: 9.8px;
            line-height: 15px;
        }

        &--apply-coupon {
            height: 50px;
            width: 94px;
            border-radius: 12.6px;
            font-weight: 500;
            font-size: 12.8px;
            line-height: 15px;
        }
        &--payment {
            border-radius: 12.6px;
            height: 55px;
            margin-top: 39px;
            font-size: 14.2px;
            line-height: 21px;
            font-weight: 600;
        }
        &--get-started {
            font-weight: 500;
            width: 110px;
            border-radius: 8.9px;
            font-size: 11.6px;
            line-height: 17px;
        }
        &--Go-pro {
            font-weight: 500;
            border-radius: 8.9px;
            width: 78px;
            font-size: 11.6px;
            line-height: 17px;
        }
        &--download {
            display: flex;
            font-weight: 500;
            width: 133px;
            border-radius: 8.9px;
            font-size: 12.85px;
            line-height: 16px;
            span {
                margin-left: 15px;
                margin-top: 10px;
            }
        }
         &--subscribe {
            font-weight: 500;
            width: 94px;
            border-radius: 8.9px;
            font-size: 10.5px;
            line-height: 16px;
        }
        &--next-article {
            width: 174.5px;
            border-radius: 8.9px;
            font-weight: 600;
            font-size: 14.4px;
            line-height: 18px;
            span {
                margin-left: 15px;
                margin-top: 10px;
            }        
        }
    }

    .header {
        
        &__row {
            height: 44.5px;
            img {
            width: 79.5px;
            height: 30px;
            }
        }
    }

    .menu {
        font-size: 13px;
    }

    .promo {
        &__title {
            font-size: 53.5px;
        }
        &__text {
            font-size: 13px;
            max-width: 400px;
        }
        
        &__row {
            background-size: 429px 384px;
        }
    }
        
    .quality {
        &__title {
        font-size: 36px;
        }
        li {
        font-size: 14.5px;
        }
    }
       
    .dishes {
        &__item {
        width:159px;
        height: 280px;
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
            background-size: 143px 148px;
        }
        &_like {
            top: 16px;
            right: 16px;
        }
        }
        &__category {
            font-size: 8px;
            padding: 2px 5.5px;
            &_card {
                margin-top: 150px;
                margin-left: 15.5px;
            }
        }
        &__comment {
            font-size: 12.3px;
            &_star {
                padding-right: 10px;
                svg {
                    width: 11px;
                    height: 11px;
                }
            }
        }

        &__subtitle a {
            font-size: 16.4px;
        }
        &__price {
            font-size: 18.5px;
            span {
                font-size: 18.5px;
                margin-top: 0px;
            }
        }
        &__add {
            width: 31px;
            height: 28px;
        }
    }
  
    .supersale {
        &__promo {
            width: 539px;
            &_decor {
                right: 295px;
            }
        }
        &__slider {
            &_item {
                width: 539px;
                height: 178.5px;
                padding-left: 43.4px;
            }
            &_title {
                font-size: 53.33px;
            }
            &_weekend {
                font-size: 62.16px;
                top: 75px;
            }
            &_img {
                width: 180px;
                height: 180px;
                top: 35px;
                right: 25.4px;
            }
        }


        // &__row_img {
        // width: 195px;
        // height: 195px;
        // }
        // input {
        //     height: 48.5px;
        // }
    }

    .category {
        width: 268px;
        height: 420px;
        padding: 23px;
        &__title {
            font-size: 15.25px;
            line-height: 21px;
        }
        &__item {
            width: 47px;
            height: 68.5px;
        }
        &__card {
            &_history {
                font-size: 10.99px;
                line-height: 21px;
            }
        }
        &__price {
            font-size: 10.99px;
            line-height: 21px;
        }
    }

    .customer {
        &__item {
            &_name {
                font-size: 14.8px;
            }
            &_text {
                font-size: 12.8px;
            }
            &_decor img {
                width: 41.5px;
                height: 31.5px;
            }
        }
    }

    .shopping {
        &__row {
            width: 492px;
        }
        &__item {
            width: 485px;
            &_subtitle {
                font-size: 15.6px;
                line-height: 22px;
            }
            &_price {
                font-size: 12.8px;
                line-height: 18px;
                &-total {
                    font-size: 11.3px;
                    line-height: 16px;

                }
            }
            &_counter-raise, &_counter-lower {
                width: 24px;
                height: 22.5px;
                background-size: 8.5px;
            }
            &_info-1, &_info-2 {
                gap: 6px;
            }
            &_counter {
                input {
                    width: 30px;
                }
            }
        }
        &__form form{
            input {     
                width: 385px;
                height: 50px;
                background-size: 15.5px 21.3px;
            }
            input::placeholder {
                font-size: 12.8px;
            }
        }
        &__price {
            &_sub {
                font-size: 14.2px;
                line-height: 17px;
                letter-spacing: -0.02em;
            }
            &_total {
                font-size: 17.8px;
                line-height: 17px;
                letter-spacing: -0.02em;
            }
        }
        &__pay {
            &_item:not(:last-child) {
                padding-top: 11px;
                padding-bottom: 4.8px;
            }
        }    
    }

    .questions {
        &__header {
            &_decor {
                right: 200px;
            }
        }
        &__list {
            &__item {
                height: 75px;
            }
            &_title {
                font-size: 16.65px;
            }
            &_button {
                background-size: 21.5px;
            }
        }
    }

    .getsupersale {
        &__row {
            width: 863px;
            height: 200px;
            &_img {
                width: 195px;
                height: 196px;
                top: 55.5px;
                right: 41px;
            }
        }
        &__title {
            font-size: 50px;
        }
        input {
            width: 313px;
            height: 50px;
        }
        &__form {
            &_button {
                left: 215px;
            }
        }
    }

    .support {
        &__row {
            height: 581px;
            &_left {
                width: 377px;
                left: -60px;
                background-position: 5.5% 5.75%;
            }
            &_right {
                width: 351px;
            }
        }
        &__title {
            font-size: 34.13px;
            line-height: 36px;
            &_img {
                &-1 {
                    width: 239px;
                    height: 90.7px;
                    top: 100px;
                }
                &-2 {
                    width: 216px;
                    top: 191px;
                    left: 267px;
                }
                &-3 {
                    width: 87.22px;
                }
            }
            &_right {
                font-size: 28.44px;
                line-height: 39px;
            }
            &__left {
                input {
                    height: 56.20;
                    padding-bottom: 18.5px;
                }
                textarea {
                    height: 245px;
                    padding-top: 18.5px;
                    padding-bottom: 30px;
                }
            }
        }
    }

    .popup {
        input {
            width: 272px;
            height: 53px;
        }
    }
}




    


