.btn {
    cursor: pointer;
    font-size: 18px;
    font-family: $Poppins;
    font-weight: 700;
    height: 62.5px;
    border: 0;
    border: 1px solid transparent;

    &--shop {
        background: $purple;
        width: 85px;
        border-radius: 17.8px;
        svg {
            fill: $bgwhite;
            width: 35px;
            height: 35px;
        }
    }

    &--shop:hover {
        background: $bgwhite;
        border: 1px solid $purple;
        svg {
            fill: $purple;
        } 
    }

    &--confirm {
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        width: 385px;
        height: 77px;
    }

    &--confirm:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }
    
    &--get-started {
        background: $purple;
        font-weight: 500;
        width: 160px;
        border-radius: 12.4px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        margin-right: 18px;
    }

    &--get-started:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }

    &--Go-pro {
        border: 1.5px solid $purple;
        color: $purple;
        font-weight: 500;
        width: 116px;
        border-radius: 12.4px;
        background: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
    }

    &--Go-pro:hover {
        background: $purple;
        color: $bgwhite;
    }

    &--download {
        display: flex;
        background: $purple;
        font-weight: 500;
        width: 190px;
        border-radius: 12.4px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        align-items: center;
        justify-content: center;
        span {
            margin-left: 15px;
            margin-top: 10px;
        }
    }

    &--download:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
        span svg path{
            stroke: $purple;
        }
    }

    &--view-all {
        display: flex;
        background: none;
        color: #ACADB9;
        font-size: 20px;
        font-weight: 500;
        line-height: 45px; 
        letter-spacing: -0.1px;
        margin-left: auto;
        span {
            margin-left: 20px;
        }
        a {
            color: $gray;
        }
    }

    &--subscribe {
        background: $purple;
        font-size: 15px;
        font-weight: 500;
        width: 135px;
        border-radius: 12.4px;
        color: $bgwhite;
        line-height: 1.5;
        letter-spacing: 0.443px;
        text-transform: uppercase;
    }

    &--subscribe:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }

    &--apply {
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        width: 100%;
        margin-top: 39px;
        font-size: 13.7px;
        font-weight: 600;
        letter-spacing: -0.137px;
    }

    &--apply:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }

    &--apply-coupon {
        width: 130px;
        height: 70px;
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        line-height: 1.5;
        font-size: 18px;
        font-weight: 600;
    }

    &--apply-coupon:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }

    &--next-article {
        display: flex;
        background: $purple;
        font-weight: 500;
        width: 200px;
        border-radius: 12.4px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        align-items: center;
        justify-content: center;
        height: 80px;
            span {
                margin-left: 15px;
                margin-top: 10px;
            }        
    }

    &--next-article:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
        span svg path{
            stroke: $purple;
        }
    }  

    &--send {
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        width: 100%;
        height: 77px;        
        font-size: 21px;
        font-weight: 600;
        letter-spacing: -0.137px;
    }

    &--send:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }
    
    &--payment {
        background: $purple;
        border-radius: 17.8px;
        color: $bgwhite;
        line-height: 1.5;
        text-transform: capitalize;
        width: 100%;
        height: 77px;
        margin-top: 39px;
        font-size: 21px;
        font-weight: 600;
        letter-spacing: -0.137px;
    }

    &--payment:hover {
        background: $bgwhite;
        color: $purple;
        border: 1px solid $purple;
    }
}