.header {
    &__row {
        display: flex;
        flex-direction: row;
        height: 62.5px;
        align-items: center;
        margin-top: 48px;
        padding-bottom: 24.6px;
        border-bottom: 0.71px solid #CBCBCB;
    }

    &__nav {
        display: flex;    
    }

    &__logo {
        margin-right: 103px;
        align-self: center;
    }

    &__button {
        margin-left: auto;
        display: flex;
    }

    &__burger {
        display: none; 

        margin-left: 15px;
        margin-top: 5px;
        align-items: center;  
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1;
        background: none;
        border: 0;

        span, span::before, span::after {
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: black
        }
        span::before {
        content: '';
        top: -8px;
        }
        span::after {
        content: '';
        top: 8px;
        }
    }
    &-popup  {
        display: none;
    } 
}

.menu {
    display: inline-flex;
    gap: 53.5px;
    font-family: $Inter;
    font-weight: 500;
    align-items: center;
    &__link {
    color: $madium-gray;
    &:hover {
        color: $purple;
    }
}
}
