.header {
    &__row {
        display: flex;
        flex-direction: row;
        height: 62.5px;
        align-items: center;
        margin-top: 48px;
        padding-bottom: 24.6px;
        border-bottom: 0.71px solid #CBCBCB;
    }
    &__logo {
        margin-right: 103px;
        align-self: center;
    }
    
    input {
        position: absolute;
        right: 350px;
        opacity: 0;
    }

    &__button {
        margin-left: auto;
        display: flex;
    }
    &__burger {
        display: none;
    }
    &-popup  {
        display: none;
    } 
}

.navigation {
    display: flex;    
}

.nav {
    display: flex;    
}

.menu {
    display: inline-flex;
    gap: 53.5px;
    font-family: $Inter;
    font-weight: 500;
    align-items: center;
    &__link {
    color: $madium-gray;
    &:hover {
        color: $purple;
    }
}
}
